.product-container,.dessert-container,.Beverages-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    
}
.categories{
    
    margin:20px;
    text-align: center;
    color:#FF4949;

    
    
    
    
    
}
